.crm-accordion-wrapper {
  &:not(.collapsed) {
    .crm-accordion-header {
      background-image: none;

      &::before {
        content: '\f107';
      }
    }
  }

  &.collapsed {
    .crm-accordion-header {
      background-image: none;
      border-radius: 2px;

      &::before {
        content: '\f105';
      }
    }
  }
}

.crm-accordion-header {
  background: #d3dee2;
  background-image: none;
  border-radius: 2px 2px 0 0;
  color: #464354;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  padding: 16px 20px;
  position: relative;

  &::before {
    content: '';
    font-family: 'FontAwesome';
    font-size: 13px;
    font-style: normal;
    padding-right: 10px;
    text-rendering: auto;
  }

  &:hover {
    background: darken(#d3dee2, 5%);
  }

  &.active {
    background: darken(#d3dee2, 10%);
    font-weight: 600;

    &:hover {
      background: darken(#d3dee2, 15%);
    }
  }
}

/* All importants because dashboard.css is added later */
#crm-container .widget-content .crm-accordion-header {
  background-color: #d3dee2 !important;
  background-image: none !important;
  color: #464354 !important;
}

.crm-accordion-wrapper .crm-master-accordion-header {
  background: #0071bd;
  color: #fff;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    background: darken(#0071bd, 5%);
    color: #fff;
  }
}

.crm-accordion-body {
  border-color: #d3dee2;
  border-radius: 0 0 2px 2px;
}
