.crm-button.crm-i-button input[type="button"],
.crm-button.crm-i-button input.crm-form-submit {
  padding-left: 33px;
}

.crm-button input[type=button],
.crm-button input.crm-form-submit {
  background: #0071bd;
  padding: 8px 20px;
}

button.crm-button {
  padding: 8px 12px;
}

a.button,
a.button:link,
a.button:visited,
input.crm-form-submit,
.ui-dialog-buttonset .ui-button,
input[type=button],
.crm-button {
  background: #0071bd;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: auto;
  padding: 8px 12px;
  text-shadow: none;
  text-transform: uppercase;
}

.crm-button:hover,
.crm-button:focus,
input[type=submit]:hover,
input[type=button]:hover,
.ui-dialog-buttonset .ui-button:hover,
.ui-dialog-buttonset .ui-button:focus,
a.button:hover,
a.button:focus {
  background: #005c99;
}

.crm-i-button >.crm-i {
  left: 1em;
  top: 0.85em;
}

.crm-submit-buttons,
.action-link {
  height: auto;
  overflow: auto;
}

span.crm-hover-button, a.crm-hover-button {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.crm-hover-button:hover,
a.crm-hover-button:hover,
a.crm-hover-button:active {
  border-color: transparent;
  background: transparent;
}
