h3 {
  background-color: #f3f6f7;
  border: 1px solid #d3dee2;
  border-radius: 2px;
  color: #464354;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  padding: 13px 20px;
}

h3.widget-header {
  border: 0;
  border-radius: none;
}

h3.nobackground,
.crm-form-block h3 {
  border: 0;
  border-radius: none;
  padding-left: 6px;
  padding-right: 6px;
}
