table {
  border-color: #d3dee2;
}

th,
table.display thead th,
table thead.sticky th,
table.caseSelector tr.columnheader th,
#crm-container tr.columnheader td {
  background-color: #f3f6f7;
  border-color: #d3dee2;
  border-width: 0 0 1px;
  color: #464354;
  padding: 15px;
  text-transform: unset;
}

#crm-container tr.columnheader {
  background-color: #f3f6f7;
  border-color: #d3dee2;
}

#crm-container tr.columnheader td {
  font-size: 13px;
}

tr.even,
tr.odd,
tbody th {
  border: 0;
}

tr.even-row td,
tr.odd-row td,
table.display td,
table.pagerDisplay td {
  border-right: 0;
  color: #4d4d69;
  padding: 12px 15px;
}

table.selector td {
  padding: 12px 15px;
}

.even-row,
.even,
tbody.scrollContent tr.alternateRow {
  background: darken(#fff, 3%);
}

.odd-row,
.odd,
tbody.scrollContent {
  background: #fff;
}

.crm-row-ok {
  background-color: #efffe7;
  border-bottom: 0;
}

.crm-row-error {
  background-color: #ffecec;
  border-bottom: 0;
}

// jQuery dataTable
table.dataTable thead th,
table.dataTable thead td {
  border-color: #d3dee2;
  padding: 15px;
}

table.dataTable.no-footer {
  border-bottom-color: #d3dee2;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  &:not(:hover) {
    background-color: #fff;
  }
}

table.dataTable.display tbody td {
  border: 0;
}
