#crm-container .widget-controls {
  background-color: #4d4d69 !important;
  padding: 17px 10px !important;
}

#crm-container .widget-controls .crm-i {
  opacity: 1 !important;
}

#crm-container .widget-header {
  font-size: 15px;
  line-height: inherit;
}
