@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/overrides/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/overrides/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/base/scss/vendor/bootstrap/variables';
@import 'SCSSROOT/org.civicrm.shoreditch/scss/bootstrap/fonts/ALL';


/* Generic */
#crm-container {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.crm-form-block {
  background: #e8eef0;
}


/* Buttons */
.crm-button.crm-i-button input[type='button'],
.crm-button.crm-i-button input.crm-form-submit {
  padding-left: 33px;
}

.crm-button input[type=button],
.crm-button input.crm-form-submit {
  background: #0071bd;
  padding: 8px 20px;
}

a.button,
a.button:link,
a.button:visited,
input.crm-form-submit,
.ui-dialog-buttonset .ui-button,
input[type=button],
.crm-button {
  background: #0071bd;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 13px;
  padding: 8px 12px;
  text-shadow: none;
  text-transform: uppercase;
}

.crm-button:hover,
.crm-button:focus,
input[type=submit]:hover,
input[type=button]:hover,
.ui-dialog-buttonset .ui-button:hover,
.ui-dialog-buttonset .ui-button:focus,
a.button:hover,
a.button:focus {
  background: #005c99;
}

.crm-i-button >.crm-i {
  left: 1em;
  top: 0.8em;
}


/* Accordions */
.crm-accordion-wrapper {
  &:not(.collapsed) {
    .crm-accordion-header {
      background-image: none;

      &::before {
        content: '\f107';
      }
    }
  }

  &.collapsed {
    .crm-accordion-header {
      background-image: none;

      &::before {
        content: '\f105';
      }
    }
  }
}

.crm-accordion-header {
  background: #f3f6f7;
  background-image: none;
  border-radius: 0;
  color: #464354;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 0;
  padding: 16px 20px;
  position: relative;

  &::before {
    content: '';
    font-family: 'FontAwesome';
    font-size: 13px;
    font-style: normal;
    padding-right: 10px;
    text-rendering: auto;
  }

  &:hover {
    background: darken(#f3f6f7, 5%);
  }

  &.active {
    background: #d3dee2;
    font-weight: 600;

    &:hover {
      background: darken(#d3dee2, 5%);
    }
  }
}

.crm-accordion-wrapper .crm-master-accordion-header {
  background: #0071bd;
  border-radius: 2px 2px 0 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;

  &:hover {
    background: darken(#0071bd, 5%);
    color: #fff;
  }
}

.crm-accordion-body {
  border-color: #d3dee2;
  border-radius: 0 0 2px 2px;
}


/* Form */

input.crm-form-text,
.crm-icon-picker-button,
input.dateplugin,
input.crm-form-password {
  background-color: #fff;
  background-image: none;
  border: 1px solid #c2cfd8;
  border-radius: 2px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #464354;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 30px;
  line-height: 30px;
  padding: 4px 10px;
}

.form-layout td.label,
.form-layout-compressed td.label,
.selector td.label,
.form-layout-compressed th.label {
  vertical-align: inherit;
}

/* Select2 */
.select2-container .select2-choice,
.select2-container.select2-container-multi .select2-choices {
  background-color: #fff;
  background-image: none;
  border: 1px solid #c2cfd8;
  border-radius: 2px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: #464354;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 30px !important;
  line-height: 30px;
  padding: 0 10px;
}

.select2-container .select2-choice .select2-arrow {
  background: #fff;
  border-color: #c2cfd8;
  padding: 0 4px;

  &::before {
    color: rgb(77, 77, 105);
    content: '\f0d7';
    display: block;
    font-family: FontAwesome;
    font-size: 13px;
    font-style: normal;
    text-align: center;
    text-rendering: auto;
    width: inherit;
  }
}

.select2-container .select2-choice > .select2-chosen {
  font-size: 13px;
  font-weight: normal;
  line-height: 27px;
}

.select2-container .select2-choice .select2-arrow b {
  display: none;
}

.select2-container.select2-container-multi .select2-choices {
  padding-right: 20px;

  &::before {
    background: none;
    color: rgb(77, 77, 105);
    content: '';
    display: block;
    font-family: FontAwesome;
    font-size: 13px;
    font-style: normal;
    line-height: 22px;
    padding: right;
    text-align: center;
    text-rendering: auto;
    top: 4px;
  }
}
