.contact-common-1 {
  content: 'contact common rule #1';
}

.contact-common-2 {
  content: 'contact common rule #2';
}

.contact-edit-specific {
  content: 'contact edit specific';
}

.contact-edit {
  content: 'civicrm/contact/edit';
}
